[flake8]
max-line-length = 120
ignore = 
    E201,  # whitespace after '('
    E202,  # whitespace before ')'
    E203,  # whitespace before ':'
    E211,  # whitespace before '('
    E221,  # multiple spaces before operator
    E222,  # multiple spaces after operator
    E271,  # multiple spaces after keyword
    W291,  # trailing whitespace
    W293   # blank line contains whitespace
